
@import '../../style/fonts/fonts.style';
//@import '../../style/abstract/_var.style';


$font-source-sans-pro: 'Source Sans Pro', sans-serif;



html {
  scroll-behavior: smooth;
}



.StoreLocator {
  max-width: 1450px;
  position: relative;
  margin-inline: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
