$font-source-sans-pro: 'Source Sans Pro', sans-serif;

.stores__title{
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: $font-source-sans-pro;

  @include mobile {
    padding-top: 35px;
    text-align: center;
  }
}

.show_data {
  //display: flex;
  @include mobile {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

}
  .StoreCategories {
    width: 360px;
    max-width: 333px;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 432px; //its the calculated value for height
    z-index: 5;

    @include mobile {
      width: 100%;
    }

    & .stores__checkboxes {
      width: 100%;

      .list-checkbox {
        display: block;
        border-bottom-width: 1px;
        border-top-width: 1px;
        border-style: solid;
        border-color: #929292;
        cursor: pointer;

        &.list-checkbox:first-child {
          border-top-width: 1px;
        }

        .list-checkbox__input {
          display: none;

          select,
          input,
          textarea,
          button {
            color: #000;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            font-family: $font-source-sans-pro;
            font-size: 12px;
          }

          a,
          input,
          button,
          select,
          textarea {
            transition: color 0.2s ease, border-color 0.2s ease;
          }
        }

        .list-checkbox__box {
          display: flex;
          padding: 8px 10px;

          .list-checkbox__text {
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            flex-grow: 1;
            font-family: $font-source-sans-pro;
          }

          .list-checkbox__tick {
            margin-left: 20px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            font-size: 0;
            position: relative;
            background-color: #000;

            &::before {
              content: "";
              color: #fff;
              font-size: 16px;
              position: absolute;
              top: 0;
              left: 4px;
            }
          }
        }
      }
    }
  }


  //map style
  .stores__right {
    flex-grow: 1;
    position: relative;
    //height: 432px; //for height negative break
    overflow: hidden; // for animate & hidden the drawer
    div {
      position: static;
    }


    @include mobile {
      margin-top: 0px !important;
      margin-bottom: 10px;

      //.leaflet-container {
      //  width: 100% !important;
      //  height: 100% !important;
      //  z-index: 0;
      //  position: relative;
      //}
    }

    //.leaflet-container {
    //  width: 50vw;
    //  height: 100%;
    //  z-index: 0;
    //  position: relative;
    //  max-width: 950px;
    //  min-width: 950px;
    //}

    //.leaflet-popup-content-wrapper,
    //.leaflet-popup-tip {
    //  background: none;
    //  box-shadow: none;
    //}
    //
    //.leaflet-popup-content {
    //  margin: 13px 24px 13px 20px;
    //  line-height: 1.3;
    //  min-height: 1px;
    //  width: 220px;
    //}
    //
    //.leaflet-left {
    //  left: 878px;
    //}
    //
    //.leaflet-top {
    //  top: 342px;
    //  padding: 15px;
    //}

    .store-tooltip.stores__tooltip.is-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      background-color: black;
      color: white;
      position: absolute;
      left: -220px;
      top: 0;
      bottom: 0;
      z-index: 1;
      transition: left 0.5s ease;

      @include mobile {
        width: 150px;
      }
    }

    .stores__tooltip {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 220px;
      z-index: 10;
    }

    .store-tooltip {
      display: none;
      color: var(--popup-text-color);
      box-sizing: border-box;
      border-radius: 2px;

      &::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 10px 9px 0;
        border-color: transparent #000 transparent transparent;
        position: absolute;
        right: 100%;
        bottom: 184px;
      }
    }

    .store-tooltip__content {
      //margin-top: 100px;
      //padding: 10px;
      //color: var(--popup-text-color);

      .store-tooltip__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-feature-settings: "pnum" on, "lnum" on;
        color: var(--popup-text-color);
      }

      .store-tooltip__text {
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        font-feature-settings: "pnum" on, "lnum" on;
        color: var(--popup-text-color);
      }


      .store-tooltip__country {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        font-feature-settings: "pnum" on, "lnum" on;
        margin-top: 1px;
        color: var(--popup-text-color);
      }

      .store-tooltip__phone {
        margin-top: 20px;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        font-feature-settings: "pnum" on, "lnum" on;
        color: var(--popup-text-color);
      }

      .store-tooltip__schedule {
        margin-top: 22px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.08em;
        text-transform: capitalize;
        font-feature-settings: "pnum" on, "lnum" on;
        color: var(--popup-text-color);
      }

      .store-tooltip__button {
        margin-top: 43px;
        width: 100%;
        padding: 0 10px;
        height: 35px;
        line-height: 33px;
        border: 1px solid white;
        color: var(--popup-text-color);
        background: transparent;
        letter-spacing: 0;
        font-weight: 400;
        font-size: 12px;
        text-transform: none;
        display: block;
        box-sizing: border-box;
        text-align: center;

        a,
        input,
        button,
        select,
        textarea {
          transition: color 0.2s ease, border-color 0.2s ease;

          & a {
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }

    .store-tooltip__close {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 14px;
      height: 14px;
      fill: white;
      cursor: pointer;
      transition: transform 0.5s;

      & img {
        box-sizing: content-box;
      }
    }
  }


  .gmnoprint {
    top: auto !important;
    //bottom: 0;
  }

  .gm-style-iw {
    max-width: 200px !important;
  }

  .gm-style .gm-style-iw-tc {
    &::after {
      display: none;
    }

  }

  .gm-style .gm-style-iw-d {
    overflow: hidden;
  }


